In [41]:
import pandas as pd
import numpy as np

In [44]:
df_main=pd.read_csv("customer_churn_dataset-testing-master.csv")

In [45]:
df=df_main.copy()
df.head()

,CustomerID,Age,Gender,Tenure,Usage Frequency,Support Calls,Payment Delay,Subscription Type,Contract Length,Total Spend,Last Interaction,Churn
0,1,22,Female,25,14,4,27,Basic,Monthly,598,9,1
1,2,41,Female,28,28,7,13,Standard,Monthly,584,20,0
2,3,47,Male,27,10,2,29,Premium,Annual,757,21,0
3,4,35,Male,9,12,5,17,Premium,Quarterly,232,18,0
4,5,53,Female,58,24,9,2,Standard,Annual,533,18,0

In [46]:
df.shape

(64374, 12)

In [47]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 64374 entries, 0 to 64373
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   CustomerID         64374 non-null  int64
 1   Age                64374 non-null  int64
 2   Gender             64374 non-null  object
 3   Tenure             64374 non-null  int64
 4   Usage Frequency    64374 non-null  int64
 5   Support Calls      64374 non-null  int64
 6   Payment Delay      64374 non-null  int64
 7   Subscription Type  64374 non-null  object
 8   Contract Length    64374 non-null  object
 9   Total Spend        64374 non-null  int64
 10  Last Interaction   64374 non-null  int64
 11  Churn              64374 non-null  int64
dtypes: int64(9), object(3)
memory usage: 5.2+ MB

In [48]:
df.isnull().sum()

CustomerID           0
Age                  0
Gender               0
Tenure               0
Usage Frequency      0
Support Calls        0
Payment Delay        0
Subscription Type    0
Contract Length      0
Total Spend          0
Last Interaction     0
Churn                0
dtype: int64

In [49]:
df["Churn"].value_counts()

Churn
0    33881
1    30493
Name: count, dtype: int64

In [52]:
100*df.Churn.value_counts()/len(df.Churn)

Churn
0    52.631497
1    47.368503
Name: count, dtype: float64

In [53]:
df.columns

Index(['CustomerID', 'Age', 'Gender', 'Tenure', 'Usage Frequency',
       'Support Calls', 'Payment Delay', 'Subscription Type',
       'Contract Length', 'Total Spend', 'Last Interaction', 'Churn'],
      dtype='object')

In [54]:
for column in df.columns:
    print(f"{column} => {df[column].value_counts().shape}")

CustomerID => (64374,)
Age => (48,)
Gender => (2,)
Tenure => (60,)
Usage Frequency => (30,)
Support Calls => (11,)
Payment Delay => (31,)
Subscription Type => (3,)
Contract Length => (3,)
Total Spend => (901,)
Last Interaction => (30,)
Churn => (2,)

In [56]:
# Binning => Tenure
max_val = df['Tenure'].max()
min_val = df['Tenure'].min()
labels = ["{0} - {1}".format(i, i + 11) for i in range(min_val, max_val, 12)]
df['tenure_group'] = pd.cut(df.Tenure, range(min_val, max_val+10, 12), right=False, labels=labels)
df['tenure_group'].value_counts()

tenure_group
49 - 60    13995
37 - 48    13968
25 - 36    13764
1 - 12     11360
13 - 24    11287
Name: count, dtype: int64

In [57]:
df.head()

,CustomerID,Age,Gender,Tenure,Usage Frequency,Support Calls,Payment Delay,Subscription Type,Contract Length,Total Spend,Last Interaction,Churn,tenure_group
0,1,22,Female,25,14,4,27,Basic,Monthly,598,9,1,25 - 36
1,2,41,Female,28,28,7,13,Standard,Monthly,584,20,0,25 - 36
2,3,47,Male,27,10,2,29,Premium,Annual,757,21,0,25 - 36
3,4,35,Male,9,12,5,17,Premium,Quarterly,232,18,0,1 - 12
4,5,53,Female,58,24,9,2,Standard,Annual,533,18,0,49 - 60

In [61]:
#binning the age
bins = [18, 25, 35, 45, 55, 65]
labels = ["18-25", "26-35", "36-45", "46-55", "56-65"]
df['age_group'] = pd.cut(df['Age'], bins=bins, labels=labels, right=True)

In [60]:
df.head()

,CustomerID,Age,Gender,Tenure,Usage Frequency,Support Calls,Payment Delay,Subscription Type,Contract Length,Total Spend,Last Interaction,Churn,tenure_group,age_group
0,1,22,Female,25,14,4,27,Basic,Monthly,598,9,1,25 - 36,18-25
1,2,41,Female,28,28,7,13,Standard,Monthly,584,20,0,25 - 36,36-45
2,3,47,Male,27,10,2,29,Premium,Annual,757,21,0,25 - 36,46-55
3,4,35,Male,9,12,5,17,Premium,Quarterly,232,18,0,1 - 12,26-35
4,5,53,Female,58,24,9,2,Standard,Annual,533,18,0,49 - 60,46-55

In [69]:
#dropping the customer id and tenure columns
df.drop(["CustomerID","Tenure"],axis=1,inplace=True)
df.head()

,Age,Gender,Usage Frequency,Support Calls,Payment Delay,Subscription Type,Contract Length,Total Spend,Last Interaction,Churn,tenure_group,age_group
0,22,Female,14,4,27,Basic,Monthly,598,9,1,25 - 36,18-25
1,41,Female,28,7,13,Standard,Monthly,584,20,0,25 - 36,36-45
2,47,Male,10,2,29,Premium,Annual,757,21,0,25 - 36,46-55
3,35,Male,12,5,17,Premium,Quarterly,232,18,0,1 - 12,26-35
4,53,Female,24,9,2,Standard,Annual,533,18,0,49 - 60,46-55