In [1]:
import pandas as pd

In [7]:
df_grades=pd.read_csv("Grades.csv")
df_grades.head()

,Name,Previous_Part,Participation1,Mini_Exam1,Mini_Exam2,Participation2,Mini_Exam3,Final,Grade
0,Jake,32.0,1,19.5,20.0,1,10.0,33.0,A
1,Joe,32.0,1,20.0,16.0,1,14.0,32.0,A
2,Susan,30.0,1,19.0,19.0,1,10.5,33.0,A-
3,Sol,31.0,1,22.0,13.0,1,13.0,34.0,A
4,Chris,30.0,1,19.0,17.0,1,12.5,33.5,A

In [9]:
df_grades.shape

(19, 9)

In [12]:
#to know the datatype of each columns
df_grades.dtypes

Name               object
Previous_Part     float64
Participation1      int64
Mini_Exam1        float64
Mini_Exam2        float64
Participation2      int64
Mini_Exam3        float64
Final             float64
Grade              object
dtype: object

In [14]:
#to know the columns name
df_grades.columns

Index(['Name', 'Previous_Part', 'Participation1', 'Mini_Exam1', 'Mini_Exam2',
       'Participation2', 'Mini_Exam3', 'Final', 'Grade'],
      dtype='object')

In [15]:
#to know the rowname
df_grades.index

RangeIndex(start=0, stop=19, step=1)

In [17]:
#to call a certain column
df_grades["Name"]

0           Jake
1            Joe
2          Susan
3            Sol
4          Chris
5          Tarik
6          Malik
7           John
8        Ronaldo
9          Messi
10       Michael
11         Jimmy
12       Charlie
13      Jennifer
14    Chrinstine
15          Josh
16       Jackson
17           Vik
18         Sarah
Name: Name, dtype: object

In [21]:
df_grades[["Name","Grade"]].head()

    Name Grade
0   Jake     A
1    Joe     A
2  Susan    A-
3    Sol     A
4  Chris     A

In [23]:
#when storing a column from dataframe it stored as a series
name=df_grades["Name"]
name.head()

0     Jake
1      Joe
2    Susan
3      Sol
4    Chris
Name: Name, dtype: object

In [25]:
name[0:4]

0     Jake
1      Joe
2    Susan
3      Sol
Name: Name, dtype: object

In [27]:
df_grades.loc[0]

Name              Jake
Previous_Part     32.0
Participation1       1
Mini_Exam1        19.5
Mini_Exam2        20.0
Participation2       1
Mini_Exam3        10.0
Final             33.0
Grade                A
Name: 0, dtype: object

In [30]:
df_grades.loc[[0,1,2,3],"Name"]

0     Jake
1      Joe
2    Susan
3      Sol
Name: Name, dtype: object

In [34]:
#avg of a numerical column
avg_final=df_grades["Final"].mean()
avg_final

np.float64(31.81578947368421)

In [33]:
#info of a dataframe
df_grades.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19 entries, 0 to 18
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Name            19 non-null     object
 1   Previous_Part   19 non-null     float64
 2   Participation1  19 non-null     int64
 3   Mini_Exam1      19 non-null     float64
 4   Mini_Exam2      19 non-null     float64
 5   Participation2  19 non-null     int64
 6   Mini_Exam3      19 non-null     float64
 7   Final           19 non-null     float64
 8   Grade           19 non-null     object
dtypes: float64(5), int64(2), object(2)
memory usage: 1.3+ KB

In [36]:
df_grades["Final"].max()

np.float64(42.0)

In [38]:
#to have a summry of a dataframe
df_grades.describe()

,Previous_Part,Participation1,Mini_Exam1,Mini_Exam2,Participation2,Mini_Exam3,Final
count,19.000000,19.000000,19.000000,19.000000,19.0,19.000000,19.000000
mean,29.500000,0.947368,18.026316,17.052632,1.0,10.526316,31.815789
std,2.848001,0.229416,3.360199,2.753254,0.0,2.796196,4.913729
min,22.000000,0.000000,7.000000,12.000000,1.0,5.500000,21.000000
25%,28.500000,1.000000,17.500000,15.500000,1.0,9.000000,31.000000
50%,30.000000,1.000000,19.000000,18.000000,1.0,10.000000,32.000000
75%,31.500000,1.000000,20.000000,19.000000,1.0,12.750000,34.000000
max,33.000000,1.000000,22.000000,21.000000,1.0,17.000000,42.000000

In [45]:
df_grades["Final percentage"]=(df_grades["Final"]/42)*100
df_grades["Final percentage"]

0      78.571429
1      76.190476
2      78.571429
3      80.952381
4      79.761905
5      57.142857
6      85.714286
7      76.190476
8     100.000000
9      88.095238
10     71.428571
11     73.809524
12     80.952381
13     76.190476
14     73.809524
15     54.761905
16     73.809524
17     83.333333
18     50.000000
Name: Final percentage, dtype: float64

In [47]:
#to delete a columns we use drop fun
df_grades.drop("Name",axis=1)

,Previous_Part,Participation1,Mini_Exam1,Mini_Exam2,Participation2,Mini_Exam3,Final,Grade,Final percentage
0,32.0,1,19.5,20.0,1,10.0,33.0,A,78.571429
1,32.0,1,20.0,16.0,1,14.0,32.0,A,76.190476
2,30.0,1,19.0,19.0,1,10.5,33.0,A-,78.571429
3,31.0,1,22.0,13.0,1,13.0,34.0,A,80.952381
4,30.0,1,19.0,17.0,1,12.5,33.5,A,79.761905
5,31.0,1,19.0,19.0,1,8.0,24.0,B,57.142857
6,31.5,1,20.0,21.0,1,9.0,36.0,A,85.714286
7,28.5,1,20.0,18.0,1,10.0,32.0,B+,76.190476
8,33.0,1,20.0,20.0,1,17.0,42.0,A+,100.000000
9,30.5,1,17.0,18.0,1,9.0,37.0,A-,88.095238
10,29.0,1,20.0,20.0,1,14.0,30.0,A,71.428571
11,27.5,0,7.0,13.0,1,5.5,31.0,B-,73.809524
12,32.0,1,20.0,17.0,1,11.0,34.0,A,80.952381
13,28.5,1,19.0,18.0,1,10.0,32.0,B+,76.190476
14,29.0,1,13.0,15.5,1,9.0,31.0,B,73.809524
15,23.5,1,17.0,12.0,1,8.5,23.0,C+,54.761905
16,28.0,1,18.0,15.5,1,7.0,31.0,B,73.809524
17,31.5,1,15.0,19.0,1,13.0,35.0,A,83.333333
18,22.0,1,18.0,13.0,1,9.0,21.0,C+,50.000000

In [56]:
#to delete a columen permenatly
df_grades.drop("Final percentage",axis=1,inplace=True)

<class 'KeyError'>: "['Final percentage'] not found in axis"

In [58]:
#dealing with missing values
df_grades.isna()

,Name,Previous_Part,Participation1,Mini_Exam1,Mini_Exam2,Participation2,Mini_Exam3,Final,Grade
0,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False
5,False,False,False,False,False,False,False,False,False
6,False,False,False,False,False,False,False,False,False
7,False,False,False,False,False,False,False,False,False
8,False,False,False,False,False,False,False,False,False
9,False,False,False,False,False,False,False,False,False
10,False,False,False,False,False,False,False,False,False
11,False,False,False,False,False,False,False,False,False
12,False,False,False,False,False,False,False,False,False
13,False,False,False,False,False,False,False,False,False
14,False,False,False,False,False,False,False,False,False
15,False,False,False,False,False,False,False,False,False
16,False,False,False,False,False,False,False,False,False
17,False,False,False,False,False,False,False,False,False
18,False,False,False,False,False,False,False,False,False

In [60]:
df_grades.dropna()

,Name,Previous_Part,Participation1,Mini_Exam1,Mini_Exam2,Participation2,Mini_Exam3,Final,Grade
0,Jake,32.0,1,19.5,20.0,1,10.0,33.0,A
1,Joe,32.0,1,20.0,16.0,1,14.0,32.0,A
2,Susan,30.0,1,19.0,19.0,1,10.5,33.0,A-
3,Sol,31.0,1,22.0,13.0,1,13.0,34.0,A
4,Chris,30.0,1,19.0,17.0,1,12.5,33.5,A
5,Tarik,31.0,1,19.0,19.0,1,8.0,24.0,B
6,Malik,31.5,1,20.0,21.0,1,9.0,36.0,A
7,John,28.5,1,20.0,18.0,1,10.0,32.0,B+
8,Ronaldo,33.0,1,20.0,20.0,1,17.0,42.0,A+
9,Messi,30.5,1,17.0,18.0,1,9.0,37.0,A-
10,Michael,29.0,1,20.0,20.0,1,14.0,30.0,A
11,Jimmy,27.5,0,7.0,13.0,1,5.5,31.0,B-
12,Charlie,32.0,1,20.0,17.0,1,11.0,34.0,A
13,Jennifer,28.5,1,19.0,18.0,1,10.0,32.0,B+
14,Chrinstine,29.0,1,13.0,15.5,1,9.0,31.0,B
15,Josh,23.5,1,17.0,12.0,1,8.5,23.0,C+
16,Jackson,28.0,1,18.0,15.5,1,7.0,31.0,B
17,Vik,31.5,1,15.0,19.0,1,13.0,35.0,A
18,Sarah,22.0,1,18.0,13.0,1,9.0,21.0,C+

In [61]:
#to know the missing value in each column
df_grades.isna().sum()

Name              0
Previous_Part     0
Participation1    0
Mini_Exam1        0
Mini_Exam2        0
Participation2    0
Mini_Exam3        0
Final             0
Grade             0
dtype: int64

In [63]:
df_grades.fillna(10)

,Name,Previous_Part,Participation1,Mini_Exam1,Mini_Exam2,Participation2,Mini_Exam3,Final,Grade
0,Jake,32.0,1,19.5,20.0,1,10.0,33.0,A
1,Joe,32.0,1,20.0,16.0,1,14.0,32.0,A
2,Susan,30.0,1,19.0,19.0,1,10.5,33.0,A-
3,Sol,31.0,1,22.0,13.0,1,13.0,34.0,A
4,Chris,30.0,1,19.0,17.0,1,12.5,33.5,A
5,Tarik,31.0,1,19.0,19.0,1,8.0,24.0,B
6,Malik,31.5,1,20.0,21.0,1,9.0,36.0,A
7,John,28.5,1,20.0,18.0,1,10.0,32.0,B+
8,Ronaldo,33.0,1,20.0,20.0,1,17.0,42.0,A+
9,Messi,30.5,1,17.0,18.0,1,9.0,37.0,A-
10,Michael,29.0,1,20.0,20.0,1,14.0,30.0,A
11,Jimmy,27.5,0,7.0,13.0,1,5.5,31.0,B-
12,Charlie,32.0,1,20.0,17.0,1,11.0,34.0,A
13,Jennifer,28.5,1,19.0,18.0,1,10.0,32.0,B+
14,Chrinstine,29.0,1,13.0,15.5,1,9.0,31.0,B
15,Josh,23.5,1,17.0,12.0,1,8.5,23.0,C+
16,Jackson,28.0,1,18.0,15.5,1,7.0,31.0,B
17,Vik,31.5,1,15.0,19.0,1,13.0,35.0,A
18,Sarah,22.0,1,18.0,13.0,1,9.0,21.0,C+